@charset "utf-8";

html {
    font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

$base : #f9f8f6;
$brown1 : #887f69;
$brown2 : #e2ddd4;
$gray : #b0b0b0;
$red: #9d1a2d;

body {
    background: $base;
    font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

header {
    @media (min-width: 551px) {
        .sp_navi{
            display: none;
        }
        
        #header_in {
            padding: 15px 0 10px 0;
            
            h1 {
                margin-bottom: 0;
            }
        }
        
        .pc_navi_li {
            margin: 5px 0 0 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            
            li {
                list-style:none;
                margin: 5px 0 0 0;
                padding: 0;

                a {
                  color: #626262;
                  text-decoration: none;
                  font-weight: bold;
                  @include fontsize(13);
                  padding-right: 10px;
                }
                
                a:hover {
                    color: #626262;
                }
            }
        }
    
    }
    // min-width: 551px
    
    @media (max-width: 550px) {
        .pc_navi{
            display: none;
        }

        .logo {
            margin-top: 15px;
            text-align: center;
            h1 {
                margin-bottom: 5px;
            }
        }        
        
        .navi {
            text-align: center;
        }
        .sp_navi {
            #sp_navi_fb, #sp_navi_insta {
                margin-right: 10px;
            }
            .sp_navi_li {
                display: none;
                
                li {
                    list-style: none;
                    
                    a {
                        display: block;
                        padding: 10px 8px;
                        border-bottom: 1px solid #eee;
                        @include fontsize(13);
                        color: $brown1;
                        text-decoration: none;
                    }
                }
                
            }
        }
    }
    // max-width: 550px
}

#contents {
    #carousel {
        .owl-theme .owl-dots {
            margin-top: 0px;
            text-align: left;
            
            .owl-dot span {
                width: 27px;
                height: 2px;
                margin: 1px 8px 1px 0;
                background: $gray;
                border-radius: 0px;
            }

            .owl-dot.active span {
                background: $red;
            }
        }
    }
    
    #breadcrumbs {
        display: flex;
        align-items: center;
        
        background: $brown2;
        padding: 7px;
        margin-bottom: 5px;
        border-radius: 3px;
        
        img {
            width: auto;
            height: 100%;
        }
        p{
            margin: 0 0 0 10px;
            @include fontsize(11);
            color: $brown1;
        }
    }
    
    #new_items, #popular {
        
        .item_box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .items {
                background-color: white;
                @include fontsize(13);
                margin: 0 0 5px 0;
                padding: 10px;
                //width: 30%;
                width: calc(100% / 3 - 22px);
                
                p {
                    margin-bottom: 5px;
                }
            }
        }
    }

    #product {
        background: white;
        padding: 30px 40px 30px 40px;
        margin-bottom: 20px;
        
        .product_title {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            
            .p_name {
                @include fontsize(14);
                font-weight: bold;
            }
            .p_id {
                @include fontsize(11);
                color: $gray;
            }
        }

        hr {
            margin: 15px 0;
            color: $brown2;
        }
        
        .product_box {
            display: flex;
            justify-content: space-between;
            
            .product_big {
                width: calc(100% / 7 * 5 - 5px);
            }
            
            .product_small_box {
                width: calc(100% / 7 * 2 - 5px);

                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .product_small {
                    width: calc(100% / 2 - 5px);
                    cursor: pointer;
                }
            }
            
        }
        
        #order_box {
            display: flex;

            .order {
                width: calc(100% / 8 * 5);
                
                #price_hr {
                    margin-top: 0;
                }
                .price_box {
                    display: flex;
                    align-items:flex-end;
                    
                    .price-title {
                        width: calc(100% / 3 * 1);
                    }
                    .price {
                        @include fontsize(12);
                        width: calc(100% / 3 * 2);
                        display: inline;
                        font-style: italic;
                        span {
                            color: #eb457e;
                        }
                        .num {
                            @include fontsize(20);
                        }
                    }
                }

                .quantity_box {
                    display: flex;
                    align-items:flex-end;
                    
                    .quantity-title {
                        width: calc(100% / 3 * 1);
                    }
                    #quantity-input {
                        width: calc(100% / 3 * 2);
                        margin-bottom: 0;
                        padding: 3px 5px;
                        height: 30px;
                    }
                }
            }
            .cart {
                width: calc(100% / 8 * 3);
                text-align: right;
                .cart_btn {
                    max-width: 100%;
                    margin-left: 10px;
                }
            }
        }
        
        #description_box {
            .description_header {
                @include fontsize(16);
                color: $brown1;
                font-weight: bold;
                margin-top: 15px;
            }
            .description_title {
                @include fontsize(16);
                color: $brown1;
                font-weight: bold;
                margin-bottom: 20px;
            }
            .description {
                @include fontsize(14);
                margin-bottom: 10px;
                display: inline-block;
            }
            #description_hr {
                color: $brown1;
                margin-bottom: 20px;
            }
            
        }
        
        .product_table {
            color: $brown1;
            @include fontsize(13);
            width: 100%;
            margin-top: 10px;
            
            .line_th {
                width: calc(100% / 4) ;
            }

            th {
                text-align: center;
                font-weight: normal;
                padding: 10px;
                background: $base;
                border: solid 1px $brown2;
            }
            td {
                text-align: center;
                padding: 10px;
                border: solid 1px $brown2;
                
                .size_check {
                    margin-bottom: 0;
                } 
            }
            .description_td {
                text-align: left;
            }

            
        }

    }

    #guide {
        .guide_box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .guides {
                background-color: white;
                margin: 0 0 5px 0;
                padding: 15px;
                //width: 45.35%;
                width: calc(100% / 2 - 32px);

                p {
                    margin-bottom: 0;
                    @include fontsize(12);
                }
                
                .guide_title {
                    color: $brown1;
                    font-weight: bold;
                    @include fontsize(16);
                    margin-bottom: 10px;
                }
                
                .guide_subtitle {
                    margin: 7px 0 1px 0;
                    color: $brown1;
                    font-weight: bold;
                }
                
                .otodoke_banner {
                    margin-top: 7px;
                }
            }            
        }
    }    

    #sidebar {
        #search {
            background: white;
            padding: 5px;
            
            #search-title {
                margin-left: 5px;
            }

            #search-form {
                margin: 5px;
                padding: 0;
                background: #eeeeee;
                
                display: flex;
                justify-content: space-between;
                align-items: center;

                #search-input {
                    border: none;
                    margin: 0;
                    height: 30px;
                    //width: 160px;
                    width: 80%;
                    background: #eeeeee;
                    @include fontsize(11);
                }
                
                #search-img {
                    margin-bottom: 0;
                    padding: 5px;
                }
            }
        }
        
        .side_title {
            margin-top: 10px;
            padding: 5px;
            background: $brown1;
            display: flex;
            justify-content: space-between;
        }

        .side_item {
            margin-top: 0;
            margin-bottom: 1px;
            padding: 7.5px 5px;
            @include fontsize(12);
            background: white;
            display: flex;
            justify-content: space-between;
            a {
                text-decoration: none;
                color: $brown1;
            }
        }
        
        .about_items, .shopinfo_items {
            background-color: white;
            @include fontsize(13);
            margin: 0 0 5px 0;
            padding: 10px;
            
            display: flex;
            flex-direction: column;

            p {
                margin-bottom: 15px;
            }
            
            .more {
                text-align: center;
            }
        }
    }

    .items_btn_box {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        
        .items_btn {
            background: $brown1;
            color: white;
            padding: 7px 25px;
            @include fontsize(11);
        }
    }
    
    @media (min-width: 551px) {
        .sp_title {
            display: none;
        }
        .sp_list_image {
            display: none;
        }
        .pc_title {
            margin: 12px 0 7px 0;
        }
    }
    
    @media (max-width: 550px) {
        .pc_title {
            display: none;
        }
        .pc_list_image {
            display: none;
        }

        .sp_title {
            text-align: center;
            margin: 5px 0 8px 0;
        }
        
        #new_items, #popular {
            .item_box {
                .items {
                    @include fontsize(11);
                    //width: 42%;
                    width: calc(100% / 2 - 22px);
                }
            }
        }
        
        #product {
            padding: 15px 10px;
            
            .product_title {
                flex-direction: column;
                margin-bottom: 15px;
            }
            
            .product_box {
                flex-direction: column;
                
                .product_big {
                    width: 100%;
                }
                
                .product_small_box {
                    width: 100%;
    
                    .product_small {
                        width: calc(100% / 5 - 5px);
                    }
                }
            }
            
            #order_box {
                flex-direction: column;
                
                .order {
                    width: 100%;
                }
                .cart {
                    width: 100%;
                    text-align: center;

                    .cart_btn {
                        margin-left: 0;
                    }
                }
    
            }
            
            #description_box {
                .description_title {
                    @include fontsize(15);
                }
                .description {
                    @include fontsize(13);
                }
            }
            
            .product_table {
                .line_th {
                    width: calc(100% / 3.5) ;
                }
    
                .description_td {
                    @include fontsize(12);
                }
    
                
            }
        }
        
        #guide {
            .guide_box {
                .guides {
                    @include fontsize(11);
                    width: 100%;
                }
            }
        }
        
        #sidebar {
            #search {
                #search-title {
                    display: none;
                }
                #search-form {
                    #search-input {
                        width: 230px;
                    }
                }
            }
            
            .about_items, .shopinfo_items {
                @include fontsize(11);
                flex-direction: row;
                justify-content: space-between;
                .item {
                    width: 49%;
                }
            }
        
        }
    }
    
}

footer {
    .pagetop {
        text-align: right;
    }
    
    hr {
        margin: 10px 0;
        color: $brown1;
    }
    
    .footer_link {
        margin: 20px 0;
        @include fontsize(12);
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            color: black;
        }
        
        .footer_dot {
            margin: 0 15px;
        }
    }
    
    p {
        @include fontsize(10);
        color: $gray;
        text-align: center;
    }

    @media (max-width: 550px) {
        .pagetop {
            text-align: center;
        }
        
        .footer_link {
            flex-wrap: wrap;

            .footer_dot {
                margin: 0 5px;
            }
       }

    }

}